/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Roboto:700');


body {
  //padding-bottom: 3rem;

}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 0rem;
  position: relative;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    position: absolute;
    top: 30%;
    width: 100%;
  bottom: 20rem;

  z-index: 10;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

/* Declare heights because of positioning of img element */
.carousel-item {
    height: 60rem;
    background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

img{
    width: 100%;
    height: auto;
}


/* RESPONSIVE CSS
-------------------------------------------------- */



.about, .FAQs, .guests{
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.header{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 3.5rem;
    color: #444444;
}
p{
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.5rem;
    color: #555555;
}

.btn{
    background-color: #797f2b;
    margin-top: 220;
}


/* Navbar Stuff*/
#mainNav {
  border-color: rgba(34, 34, 34, 0.05);
  background-color: white;
  -webkit-transition: all .35s;
  transition: all .35s;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

#mainNav .navbar-brand {
  color: #fdcc52;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

#mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
  color: #fcbd20;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  padding: 8px 10px;
  color: #222222;
}

#mainNav .navbar-nav > li > a {
  font-size: 14px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase;
}

#mainNav .navbar-nav > li > a.active {
  color: #fdcc52 !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li > a.active:hover {
  background-color: transparent;
}

#mainNav .navbar-nav > li > a,
#mainNav .navbar-nav > li > a:focus {
  color: #222222;
}

#mainNav .navbar-nav > li > a:hover,
#mainNav .navbar-nav > li > a:focus:hover {
  color: #fdcc52;
}

@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: fade(white, 70%);
  }
  #mainNav .navbar-brand:hover, #mainNav .navbar-brand:focus {
    color: white;
  }
  #mainNav .navbar-nav > li > a,
  #mainNav .navbar-nav > li > a:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-nav > li > a:hover,
  #mainNav .navbar-nav > li > a:focus:hover {
    color: white;
  }
  #mainNav.navbar-shrink {
    border-color: rgba(34, 34, 34, 0.1);
    background-color: white;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #222222;
  }
  #mainNav.navbar-shrink .navbar-brand:hover, #mainNav.navbar-shrink .navbar-brand:focus {
    color: #fdcc52;
  }
  #mainNav.navbar-shrink .navbar-nav > li > a,
  #mainNav.navbar-shrink .navbar-nav > li > a:focus {
    color: #222222;
  }
  #mainNav.navbar-shrink .navbar-nav > li > a:hover,
  #mainNav.navbar-shrink .navbar-nav > li > a:focus:hover {
    color: #fdcc52;
  }

}

@media screen and (max-width: 992px){
    .carousel-paragraph {
      margin-bottom: .4rem;
      font-size: .8rem;
      color: white;
    }
    .carousel-caption h1{
        font-size: 1.15rem;
    }
    .btn-lg {
        font-size: .65rem;
    }
}
.carousel-paragraph{
    color: white;
}
/* End of Navbar stuff */
footer{
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #266fc1;
}

.footer, .contact, .contact:visited{
    color: white;
    font-size: 1.5rem;
}
.contact:hover, .contact:active{
    color: white;
    text-decoration: underline;

}
.questions{
    margin-top: 2rem;
}
h2{
    text-align: left;
}
.solid{
    background-color: #266fc1;
}


//Schedule
/* Schedule */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    border: none;
    outline: 1px solid #ccc;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    border: 1px solid #ccc;
    border-top: none;
}

/* Schedule table */
table{
    align-content: left;
}

.sponsor{
    margin-bottom: 3.75rem;
}
.tba{
    margin: auto;
}
.team-page{
    padding-top: 100px;
}
.team-info{
    margin-bottom: 3rem;
    margin-top: 3rem;
}
.fa-inverse:hover{
    color: #3B5998;
    transition: 0.3s;
    background-color: white;
}
.fa-facebook-f{
    color: #3B5998;
}
.fa-square{
    color: white;
}
.fa-twitter{
    color: #1DA1F2;
}
.fa-instagram{
    color: #262626;
}
.fa-users{
    color: #5C415D;
}
.fa-square:hover{
    color: #3B5998;
}
i:hover{
    color: #266fc1;
    transition: 0.3s;
}
#map{
    width: 100%;
    height: 260px;
    margin-top: 3rem;
}
.map-heading{
    margin-top: 4rem;
}
